@font-face {
	font-family: Roboto;
	src: url(./fonts/Roboto-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: Roboto;
	src: url(./fonts/Roboto-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: Roboto;
	src: url(./fonts/Roboto-Black.ttf);
	font-weight: 900;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #f4f4f7;
}

.b-main {
	display: block;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	object-fit: cover;
}

.arrow-left,
.arrow-right {
	display: none;
}

.b-wrap {
	max-width: 1180px;
	margin: 0 auto;
}

.b-header {
	position: relative;
	padding: 40px 0px 0 0px;
	margin-bottom: 100px;
	background-image: url(./image/img-header.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.b-header__wrap {
	position: relative;
	display: flex;
	align-items: center;
	padding-left: 40px;
	padding-right: 40px;
	margin-bottom: 92px;
	font-family: 'Roboto';
	font-weight: 300;
}

.b-logo {
	display: block;
	width: 40px;
	height: 40px;
	object-fit: contain;
}

.b-header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.b-header__logo {
	margin: 0 120px 0 0;
}

.b-burger,
.b-button--hidden {
	display: none;
}

.b-menu {
	display: flex;
	flex-wrap: wrap;
	width: 783px;
	font-size: 15px;
}

.b-menu__item:hover {
	text-decoration: underline;
}

.b-menu__item {
	margin: 0 51px 10px 0;
}

.b-burger-menu {
	display: none;
}

.b-lang {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	height: 40px;
	margin-top: 0px;
}

.b-lang__link,
.b-menu__link {
	color: #f4f4f7;
}

.b-lang__item:not(:last-child) {
	margin-right: 14px;
}

.b-lang__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 100%;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0);
}

.b-lang__item:hover,
.b-lang__item--active {
	text-align: center;
	vertical-align: middle;
	border: 1px solid rgba(255, 255, 255, 0.3);
	cursor: pointer;
}

.b-title {
	position: relative;
	margin: 0px 200px 30px 200px;
	font-family: 'Roboto';
	font-weight: 900;
	font-size: 60px;
	line-height: 65px;
	letter-spacing: -0.75px;
	color: #2d2d42;
}

.b-title--margin {
	margin-left: 0;
}

.b-title--light {
	color: #f4f4f7;
}

.b-title--silver {
	color: #c0c6c8;
}

.b-header__text {
	position: relative;
	margin: 0px 300px 78px 200px;
	padding-right: 8px;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0;
	color: #f4f4f7;
	font-family: 'Roboto';
	font-weight: 300;
}

.b-button {
	display: flex;
	width: 580px;
	padding: 25px 50px 25px 200px;
	font-family: 'Roboto';
	font-weight: 300;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-bottom: none;
}

.b-button--hidden {
	display: none;
}

.b-button:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.b-description {
	margin: 0 100px 30px 0px;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 0;
	color: #2d2d42;
	font-family: 'Roboto';
	font-weight: 300;
}

.b-button__text {
	position: relative;
	width: 311px;
	margin: 0;
	color: #f4f4f7;
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: normal;
}

.ic-next {
	position: relative;
	width: 29.8px;
	height: 29.8px;
	object-fit: contain;
}

.b-services {
	padding: 90px 100px 100px 200px;
	margin-bottom: 107px;
	background-color: white;
}

.b-services__list {
	margin-left: -60px;
}

.b-services__text {
	margin: 0 100px 87px 0;
}

.b-aspect {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
	font-family: 'Roboto';
	font-weight: 700;
}

.b-aspect__item {
	width: 240px;
}

.b-aspect__item:not(:nth-child(3n)) {
	margin-right: 60px;
	margin-bottom: 20px;
}

.b-aspect__text {
	margin: 0px;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0;
	color: #2d2d42;
}

.b-aspect__bg {
	position: relative;
	width: 90px;
	height: 90px;
	padding: 21px 20px 17px;
	margin-bottom: 30px;
	background-color: #63c9e0;
	border-radius: 50%;
}

.b-aspect__bg--blue {
	background-color: #63c9e0;
}

.b-aspect__bg--orange {
	background-color: #f47e3d;
}

.b-aspect__bg--pink {
	background-color: #d04b9b;
}

.b-aspect__image {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 59px;
	height: 59px;
	transform: translate(-50%, -50%);
	object-fit: contain;
}

.b-services-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0;
	color: #2d2d42;
	font-family: 'Roboto';
	font-weight: 300;
}

.b-services-list__item {
	position: relative;
	width: 400px;
	margin-bottom: 30px;
	padding-left: 60px;
}

.b-services-list__item:nth-child(2n + 1) {
	margin-right: 100px;
}

.b-services-list__item:nth-child(1),
.b-services-list__item:nth-child(2) {
	margin-bottom: 18px;
}

.b-services-list__item::before {
	display: block;
	content: "";
	position: absolute;
	top: 15px;
	left: 0px;
	width: 30px;
	height: 1px;
	background-color: #64cae1;
}

.combine-drop-line {
	display: none;
}

.b-projects {
	margin-bottom: 100px;
}

.b-description--margin {
	margin: 0 0 90px 200px;
}

.birdieeyes-image-wrap {
	display: none;
}

.b-card-description {
	margin-bottom: 20px;
	padding: 200px 0px 20px 200px;
	background-image: url(./image/vid-birdieeyes.png);
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: contain;
}

.b-card-description__wrap {
	width: 380px;
	padding: 40px 40px 40px;
	background-color: #64cae1;
}

.b-title-small {
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 1.73px;
	color: #2d2d42;
	font-family: 'Roboto';
	font-weight: 900;
	text-transform: uppercase;
}

.b-title-small--light {
	color: #f4f4f7;
	margin: 0px 0 39px 0;
}

.b-description--light {
	color: #f4f4f7;
	margin: 0;
}

.b-card-description__link {
	color: #f4f4f7;
}

.b-article {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.b-article-card {
	width: 580px;
}

.b-article-card__image {
	overflow: hidden;
	height: 320px;
}

.b-arcticle-img {
	transition: transform 0.7s linear;
}

.b-arcticle-img:hover  {
	transform: scale(1.3);
}

.b-article-card:nth-child(odd) {
	margin-right: 20px;
}

.b-description--width {
	width: 440px;
	margin-bottom: 69px;
}

.b-team {
	position: relative;
}

.b-team__wrap {
	position: absolute;
	width: 381px;
	top: calc(100% - 398px);
	left: calc(100% - 581px);
	padding: 41px 41px 110px;
	background-color: #f4f4f7;
}

.b-team__link {
	color: #2d2d42;
}

.b-title-small--margin {
	margin: 0px 0px 50px 0px;
}

.b-description--margin-zero {
	margin: 0;
}

.b-inside-section {
	margin-bottom: 100px;
}

.b-about {
	margin: 0px 0 80px 200px;
	padding-top: 220px;
	background-image: url(./image/img-inside-press.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: contain;
}

.b-about-img {
	display: none;
}

.b-about__wrap {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 400px;
	padding: 40px 44px 0 0;
	background-color: #f4f4f7;
	transform: translate(-50%);
}

.b-title-small--bottom {
	margin: 0 0 36px 0;
}

.b-description--bottom {
	margin: -6px 0 55px 0;
}

.b-about__link {
	color: #2d2d42;
}

.b-techcrunch {
	width: 50px;
	height: 26px;
	margin-bottom: 15px;
}

.b-about-list {
	display: flex;
	align-self: flex-end;
	margin: 0px;
	padding: 0px;
}

.b-about-list__item {
	margin-right: 9px;
}

.b-about-list__link {
	display: block;
	width: 65px;
	height: 30px;
	border-bottom: 1px solid #c0c6c8;
}

.b-about-list__link:hover,
.b-about-list__item--active {
	border-bottom: 1px solid #2d2d42;
}

.b-news-wrap__container {
	display: flex;
	margin-bottom: 10px;
	font-family: 'Roboto';
	font-weight: 300;
}

.b-news {
	width: 200px;
	flex-grow: 1;
}

.b-news-wrap__item:not(:last-child) {
	margin-right: 20px;
}

.b-news__text {
	margin: 0 0 20px 0;
	padding-right: 110px;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: normal;
	color: #2d2d42;
}

.b-news__date {
	font-size: 15px;
	line-height: 20px;
	letter-spacing: normal;
	color: #93a4a9;
}

.b-footer {
	position: relative;
	padding: 103px 0 0px 0;
	background-image: url(./image/img-map.svg);
	background-position: 269px 180px;
	background-repeat: no-repeat;
	background-color: #000000;
}

.b-title--footer-bottom {
	margin: 0 262.15px 75px 0;
}

.b-contacts {
	display: flex;
	flex-wrap: wrap;
	margin: 0px 0px 0px 200px;
}

.b-social-list {
	display: flex;
	flex-wrap: wrap;
	align-self: end;
	padding-top: 14px;
}

.b-social-list__item {
	align-self: center;
	width: 30px;
	height: 30px;
	margin: 2px 25px 0 0;
}

.b-contacts__text {
	width: 380px;
	margin: 0px 112px 90px 0px;
	font-size: 20px;
	color: #f4f4f7;
	font-family: 'Roboto';
	font-weight: 300;
	line-height: 30px;
	letter-spacing: normal;
}

.b-contacts__blue-circle {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #64cae1;
	margin: 16px 34px 0px 0px;
}

.b-contacts__pink-circle {
	width: 40px;
	height: 40px;
	margin-top: 40px;
	border-radius: 50%;
	background-color: #d04b9b;
}

.b-adress {
	margin: 0 0 49px 200px;
	display: flex;
	flex-wrap: wrap;
}

.b-adress__item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	width: 380px;
	font-size: 15px;
	line-height: 25px;
	letter-spacing: 0;
	font-style: normal;
	color: #f4f4f7;
	font-family: 'Roboto';
	font-weight: 300;
}

.b-adress__link {
	color: #64cae1;
}

.b-adress__title {
	margin-top: 0;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 20px;
	color: #f4f4f7;
	font-family: 'Roboto';
	font-weight: 700;
}

.b-adress__wrap:nth-child(odd) {
	margin-right: 118px;
	margin-bottom: 20px;
}

.b-button--footer-blue:hover {
	background-color: #64cae1;
}

.b-footer__button-wrap {
	display: flex;
	margin: 0;
}

.b-footer__button {
	margin: 0 118px 0 0;
	background-color: #64cae1;
}

.b-footer__button:hover {
	background-color: #4bb0c7;
}

.b-copyrite {
	margin-left: 118px;
	align-self: center;
	opacity: 0.5;
	font-size: 20px;
	line-height: 30px;
	color: #f4f4f7;
	font-family: 'Roboto';
	font-weight: 300;
}

.b-footer-menu {
	display: none;
}

@media (min-width: 980px) and (max-width: 1280px) {
	.b-wrap {
		width: 100%;
	}

	.b-header__wrap {
		justify-content: space-between;
		padding-left: 45px;
		padding-right: 60px;
	}

	.b-header__logo {
		margin: 0 60px 0 0;
	}

	.b-menu {
		width: auto;
		margin-right: 0;
	}

	.b-lang {
		flex-wrap: nowrap;
	}

	.b-title {
		margin: 0px 100px 30px 100px;
	}

	.b-header__text {
		margin: 0px 300px 78px 100px;
	}

	.b-menu__item {
		margin: 0 49px 10px 0;
	}

	.b-services {
		padding: 90px 100px 100px 100px;
	}

	.b-title--margin {
		margin-left: 0;
	}

	.b-aspect {
		flex-wrap: nowrap;
	}

	.b-services__text {
		margin: 0 0px 87px 0;
	}

	.b-services-list__item {
		width: 320px;
	}

	.b-services-list__item:nth-child(2n + 1) {
		margin-right: 163px;
	}

	.b-projects__image-wrap {
		margin-bottom: 0;
	}

	.b-article-card:nth-child(odd) {
		margin-right: 0;
	}

	.b-description--width {
		margin-bottom: 0;
		padding-left: 40px;
		margin-right: 50px;
		margin-bottom: 40px;
	}

	.b-description--margin {
		margin: 0 0 90px 100px;
	}

	.b-article-card__image {
		width: 100%;
	}

	img {
		max-width: 100%;
		object-fit: cover;
		height: 100%;
		width: 100%;
	}

	.b-title-small {
		margin-left: 40px;
	}

	.b-title-small--light {
		margin-left: 0;
	}

	.b-title-small--margin {
		margin: 0px 0px 50px 0px;
	}

	.b-article-card {
		width: 50%;
	}

	.b-about {
		margin: 0px 0 80px 0;
	}

	.b-about__wrap {
		padding: 40px 44px 0 40px;
		transform: none;
	}

	.b-news-wrap {
		padding-left: 100px;
	}

	.b-news__text {
		padding-right: 50px;
	}

	.b-title--footer-bottom {
		margin: 0 262.15px 75px 0;
	}

	.b-footer__contacts {
		margin: 0px 0px 0px 100px;
	}

	.b-adress__wrap:nth-child(odd) {
		margin-right: 102px;
	}

	.b-contacts {
		margin: 0px 142px 0px 100px;
	}

	.b-adress {
		margin: 0 0 49px 100px;
	}

	.b-contacts__text {
		margin: 0px 213px 93px 0px;
	}
}

@media (min-width: 320px) and (max-width: 979px) {
	.b-wrap {
		width: 100%;
	}

	.b-nav,
	.b-lang {
		display: none;
	}

	.b-burger {
		display: block;
	}

	.b-header {
		background-color: #2d2d42;
		background-image: none;
		margin-bottom: 0;
		padding: 30px 0 0 0;
	}

	.b-header__wrap {
		justify-content: space-between;
		padding-left: 30px;
		padding-right: 30px;
		margin-bottom: 40px;
	}

	.b-title {
		width: auto;
		min-width: 260px;
		margin: 0px 140px 20px 30px;
		font-size: 25px;
		line-height: 30px;
		letter-spacing: -0.31px;
	}

	.b-header__text {
		margin: 0px 30px 78px 30px;
		padding-right: 8px;
		font-size: 15px;
		font-weight: 300;
		letter-spacing: 0;
	}

	.b-button {
		display: flex;
		justify-content: space-between;
		width: auto;
		margin-right: 0;
		margin-bottom: 0px;
		padding: 20px 30px 20px 30px;
		border: none;
	}

	.b-button__text {
		font-size: 15px;
		line-height: 1.5;
	}

	.ic-next {
		width: 20px;
		height: 20px;
	}

	.b-services {
		margin-bottom: 0px;
		padding: 30px 0px 20px 0px;
		background-color: white;
	}

	.b-title--margin {
		margin: 0 0px 20px 30px;
	}

	.b-description {
		margin: 0px 0px 30px 30px;
		font-size: 15px;
		line-height: 1.33;
		letter-spacing: normal;
	}

	.b-aspect {
		flex-direction: column;
	}

	.b-aspect__item {
		width: 100%;
		padding-top: 30px;
		padding-bottom: 30px;
		border-top: 1px solid #c0c6c8;
	}

	.b-aspect__item:last-of-type {
		border-bottom: 1px solid #c0c6c8;
	}

	.b-description--margin {
		margin: 0px 0px 30px 30px;
	}

	.b-team__wrap {
		position: static;
		width: auto;
		padding: 0;
		background-color: #f4f4f7;
	}

	.b-article {
		margin-bottom: 0;
	}

	.expertise-item {
		display: flex;
		width: 240px;
	}

	.b-services__aspect {
		display: flex;
		flex-wrap: wrap;
		margin-left: 0px;
		margin-bottom: 60px;
	}

	.b-aspect__image {
		width: 27px;
		height: 27px;
	}

	.b-aspect__bg {
		width: 50px;
		height: 50px;
		padding: 21px 20px 17px;
		margin-right: 20px;
		margin-bottom: 0px;
		margin-left: 30px;
		border-radius: 50%;
	}

	.b-aspect__bg--blue {
		background-color: #63c9e0;
	}

	.b-aspect__bg--orange {
		background-color: #f47e3d;
	}

	.b-aspect__bg--pink {
		background-color: #d04b9b;
	}

	.b-aspect__item {
		display: flex;
		margin-right: 0;
	}

	.b-aspect__text {
		align-self: center;
		margin: 0px;
		font-size: 15px;
		line-height: 1.33;
		letter-spacing: 0;
	}

	.b-aspect__item:not(:nth-child(3n)) {
		margin-right: 0;
		margin-bottom: 0;
	}

	.b-services__title-second {
		width: auto;
		margin: 0px 0 30px 0px;
		font-size: 25px;
		font-weight: 900;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.2;
		letter-spacing: -0.31px;
	}

	.b-description--width {
		width: auto;
	}

	.b-article-card:nth-child(odd) {
		margin-right: 0;
	}

	.b-services__list {
		display: flex;
		flex-wrap: wrap;
		margin-top: 0;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 0;
		margin-left: 30px;
	}

	.b-services-list__item {
		position: relative;
		margin-bottom: 22px;
		margin-right: 0;
		padding-left: 40px;
		font-size: 15px;
		line-height: 1.33;
		width: 380px;
	}

	.b-services-list__item::before {
		width: 20px;
	}

	.b-services-list__item:nth-child(2n + 1) {
		margin-right: 0;
	}

	.b-button--hidden {
		display: flex;
		background-color: #64cae1;
	}

	.b-button--hidden:hover {
		background-color: #64cae1;
	}

	.b-button--bottom {
		margin-bottom: 30px;
	}

	.b-projects__title {
		margin: 30px 0 25px 30px;
		font-size: 25px;
		line-height: 1.2;
		letter-spacing: -0.31px;
	}

	.b-projects__text {
		margin: 0 0 30px 30px;
		font-size: 15px;
		line-height: 1.33;
		letter-spacing: 0;
	}

	.birdieeyes-image-wrap {
		display: block;
	}

	.b-card-description {
		background-image: none;
		padding: 0;
	}

	.b-card-description__wrap {
		width: auto;
		padding: 0;
		background-color: #f4f4f7;
	}

	img {
		width: 100%;
	}

	.b-card-description__link,
	.b-card-description__image-title {
		color: #2d2d42;
	}

	.b-title-small {
		margin-bottom: 20px;
		margin-left: 30px;
		color: #2d2d42;
		font-size: 10px;
	}

	.b-article-card__image {
		width: auto;
		height: auto;
		margin: 0 0 30px 0;
	}

	.b-article__card:nth-child(odd) {
		margin-right: 0;
	}

	.b-article-card:nth-child(2) ~ .b-article-card {
		display: none;
	}

	.b-article-card {
		width: 100%;
	}

	.b-about__wrap {
		display: block;
		width: auto;
		padding: 0;
		transform: none;
	}

	.b-about {
		margin: 0;
		padding-top: 0;
		background-image: none;
	}

	.b-about-img {
		display: block;
	}

	.arrow-left,
	.arrow-right {
		display: block;
		width: 13.3px;
		height: 21.3px;
	}

	.b-techcrunch {
		width: 30px;
		height: 15px;
		margin-bottom: 15px;
	}

	.b-arrow-wrap {
		display: flex;
		justify-content: space-between;
		padding-left: 30px;
		padding-right: 30px;
		margin-bottom: 57px;
	}

	.b-projects {
		margin-bottom: 30px;
	}

	.b-about-list {
		display: none;
	}

	.b-news__text {
		font-size: 15px;
		line-height: 1.33;
		letter-spacing: 0;
		margin-bottom: 0;
		margin-bottom: 10px;
	}

	.b-news__date {
		font-size: 13px;
		line-height: 20px;
		letter-spacing: normal;
		color: #93a4a9;
	}

	.b-news-wrap__container {
		flex-wrap: wrap;
		margin-left: 30px;
	}

	.b-inside-section {
		margin-bottom: 30px;
	}

	.b-news__link {
		display: block;
		margin-bottom: 20px;
	}

	.b-footer {
		padding: 30px 0 0px 0;
		background-position: center 180px;
	}

	.b-title--footer-bottom {
		margin: 0 0 20px 0;
	}

	.b-footer__button-wrap {
		display: block;
	}

	.b-contacts {
		flex-direction: column;
		margin: 0px 0px 166px 30px;
	}

	.b-adress {
		flex-direction: column;
		margin: 0 0 49px 30px;
	}

	.b-copyrite {
		display: none;
	}

	.b-contacts__text {
		width: auto;
		margin: 0px 0px 20px 0px;
		font-size: 15px;
		line-height: 1.33;
		letter-spacing: 0;
	}

	.b-social-list {
		margin-bottom: 86px;
		padding-top: 0;
		order: 3;
	}

	.b-contacts__blue-circle {
		position: absolute;
		top: 266px;
		right: calc(50% + -22px);
		width: 38px;
		height: 38px;
		margin: 0px 0px 0px 0px;
		order: 3;
	}

	.b-contacts__pink-circle {
		position: absolute;
		top: 277px;
		right: calc(50% - 79px);
		width: 30px;
		height: 30px;
		margin-top: 0px;
		order: 3;
	}

	.b-adress__item {
		width: auto;
	}

	.b-button--footer-blue,
	.b-button--footer-blue:hover {
		background-color: #64cae1;
	}

	.b-footer-menu {
		display: block;
		height: 288px;
		padding: 20px 30px 30px;
		background-color: #2d2d42;
	}
	.b-footer-menu__item:nth-last-child(2) {
		margin-bottom: 18px;
	}

	.b-footer-menu__link {
		color: #f4f4f7;
		font-family: Roboto;
		font-size: 15px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 2.67;
		letter-spacing: normal;
	}

	.b-copyrite--hidden {
		display: block;
		margin-left: 0;
		font-size: 15px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.33;
		letter-spacing: normal;
	}

	.b-lang--burger {
		display: flex;
		margin-left: -10px;
	}

	.b-burger-menu__link {
		font-size: 20px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
		color: #2d2d42;
	}

	.b-burger-menu__item {
		margin-bottom: 20px;
	}

	.b-burger-menu__item:last-of-type {
		margin-bottom: 66px;
	}

	.b-lang__link {
		color: #2d2d42;
	}

	.b-burger-menu {
		padding: 30px;
	}

	.b-picture {
		display: inline-block;
		width: 140px;
		height: 31px;
	}

	.img-close {
		align-self: center;
		width: 20.8px;
		height: 20.8px;
		object-fit: contain;
	}

	.b-picture-burger-wrap {
		display: flex;
		justify-content: space-between;
		margin-bottom: 66px;
	}

	.b-burger-menu {
		display: block;
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 10;
		background-color: #f4f4f7;
		transition: top 0.5s ease;
	}

	.show {
		top: 0;
	}

	.b-lang__item:hover,
	.b-lang__item--active {
		border: 1px solid #2d2d42;
	}
}
